@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope Variable', sans-serif;
}

.swiper-slide-custom {
    transition: filter 0.5s ease-in-out;
    filter: blur(6px);
    /* Blur effect */
}

.swiper-slide-active {
    filter: blur(0px) !important;
    /* Remove blur for active slide */
}

.card::after {
    content: "";
    /* background-color: #EAA879; */
    background-image: linear-gradient(45deg, #000, #EAA879);
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
}

.card::before {
    content: "";
    /* background-color: #EAA879; */
    background-image: linear-gradient(45deg, #000, #EAA879);
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 0;
}

.card:nth-child(1)::after {
    display: none;
}

.card:nth-child(2)::after {
    display: none;
}

.card:nth-child(5)::after {
    background-image: linear-gradient(45deg, #EAA879, #000);
    width: 900px;
}

.card:nth-child(2)::before {
    background-image: linear-gradient(45deg, #EAA879, #000);
}

.card:nth-child(3)::before {
    background-image: linear-gradient(45deg, #EAA879, #000);
}

.card:nth-child(6)::after {
    background-image: linear-gradient(45deg, #EAA879, #000);
}

.card:nth-child(3)::after {
    display: none;
}

.card:nth-child(1)::before {
    display: none;
}

.card:nth-child(4)::before {
    display: none;
}

@media (max-width: 1024px) {
    .card::after {
        background-image: none;
    }

    .card::before {
        background-image: none;
    }

    .card:nth-child(1)::after {
        display: none;
    }

    .card:nth-child(2)::after {
        display: none;
    }

    .card:nth-child(5)::after {
        background-image: none;
    }

    .card:nth-child(2)::before {
        background-image: none;
    }

    .card:nth-child(3)::before {
        background-image: none;
    }

    .card:nth-child(6)::after {
        background-image: none;
    }

    .card:nth-child(3)::after {
        display: none;
    }

    .card:nth-child(1)::before {
        display: none;
    }

    .card:nth-child(4)::before {
        display: none;
    }

    .test-card {
        margin-left: 0 !important;
    }
}